body{
    background-image: url("../img/cinema.png");
    background-size: 100%;
    height: 3000px;
    background-attachment: fixed;
}
.top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: transparent;
    transition: background-color 0.5s;
    color: white;
}
.nav-item{
    margin: 20px 40px;
}
.main-introduction{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;

}